body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

nav {
  background:blue;
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.container {
  width: 50%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #555;
}
